# Virtual environment files
.venv/
venv/
env/

# Python-specific files and directories
__pycache__/
*.pyc
.python-version

# Editor and IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependency and package management files
requirements.txt
Pipfile
Pipfile.lock
pyproject.toml
poetry.lock

# Build and distribution files
dist/
build/
*.egg-info/

# Sensitive and environment-specific files
.env
.env.*

# Logs and output files
*.log
*.out

*.json